@{
    ViewData["Title"] = "Data Science";
}

<link rel="stylesheet" href="~/css/datascience.css" asp-append-version="true" />

<img class="bg_image" src="~/images/Backgrounds/bg-1.jpg" alt="Placeholder Image">

<section class="header secondary">
    <div class="header_bg">
        <img src="~/images/Headers/header-5.jpg" alt="Placeholder Image">
    </div>
    <div class="info">
        <div class="description">
            <h2>The Data Science Powering AI-Driven Plastic Pollution Solutions</h2>
            <p>
                Discover the data science driving our AI-powered solutions to tackle marine plastic pollution. From training convolutional neural networks with datasets like MARIDA and Kaggle to generating actionable heatmaps, our approach turns data into impactful insights for environmental restoration.
            </p>
        </div>
    </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark py-3 mid_navbar">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar2">
                <li class="nav-item">
                    <a class="nav-link custom-font" href="#datasci_datacol">Data Collection</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#datasci_model">Model Building</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#datasci_model_2">Model Deployment</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#datasci_stake">Communication</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#datasci_budget">Budget</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#datasci_tech">Technologies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="radial_gradient">

    <section class="datasci_info datasci_datacol" id="datasci_datacol">
        <div class="ds_content" style="margin-top: 0px">
            <h2>Data Collection</h2><br/>
            <p style="text-indent:2rem;">
                Our proposal concentrated on the plastic polymers most prevalent in marine environments. These include high-density polyethylene used for bottles, low-density polyethylene for bags, polypropylene for containers, and polystyrene for styrofoam. The four datasets encompass items from these four plastic types under varying conditions.
                <br /><br />The Marine Debris Archive (MARIDA) dataset was utilized as the primary resource to train the model and its convolutional neural network (CNN) components. MARIDA provides images of marine debris commonly found in coastal and aquatic environments, including plastics, and other waste types from the satellite Sentinel-2. Additionally, we will be utilizing garbage classification dataset from Kaggle dataset which offers a well-organized collection of labeled images representing various waste types of plastics.
            </p>
            <div class="ds_img_right">
                <img src="~/images/DataScience/ds-1.png" alt="Placeholder Image">
            </div>
            <h2>Data warehousing and cleansing</h2>
            <p class="span_two" style="text-indent:2rem;">
                Amazon S3’s integration capabilities with machine learning workflows make it ideal for handling large datasets critical to this project. S3 allows integration with the image annotation tool Computer Vision Annotation Tool (CVAT) and it will be used as the primary storage for the Kaggle and MARIDA dataset.
                For the heatmap, Amazon S3 will also be used to store images collected from drones, ensuring scalable storage for processing by the AI model. These images will be organized into structured sections, categorized by location and date, allowing easy retrieval for the AI model. Once processed, the model will use the data to generate heatmaps, highlighting areas of high plastic pollution.
            </p>

            <div class="ds_img_left">
                <img src="~/images/DataScience/ds-3.png" alt="Placeholder Image">
            </div>
            <div>
                <h2>Data Visualization</h2>
                <p style="text-indent:2rem;">
                    Pie charts and bar graphs will be used to visualize the distribution of different classes of litter identified by the AI model (e.g., water bottles, styrofoam, bags, and other plastic types). The pie graph will be utilized to show the percentage distribution of litter classes while the bar graph will show the present the relative count of each litter class. These graphs will provide a clear and quantitative breakdown of the proportions and amounts of various litter types.
                    <br /><br />
                    Heatmaps will be used to represent the spatial concentration of plastic waste across surveyed aquatic environments. These visualizations will overlay detected plastic pollution onto a map, highlighting regions with high or low concentrations of waste. A heatmap on the live website might show red zones for areas with heavy plastic pollution and green zones for cleaner areas. For instance, a mangrove forest might appear as a red hotspot, while an open water area might show minimal plastic concentration.
                </p>
            </div>
        </div>
    </section>

    <section class="datasci_info datasci_model" id="datasci_model">
        <h1 class="fading-title">Model Building</h1>
        <div class="ds_content">
            <p class="span_two" style="padding: 0; text-indent:2rem;">
                The process begins with data preparation. datasets, such as MARIDA and Kaggle’s Garbage Classification dataset, are needed for training. These datasets are gonna be cleaned and organized into appropriate categories, such as HDPE, LDPE, PP, PS, and non-plastic elements like sand or vegetation. Data augmentation techniques, including rotation, flipping, and brightness adjustments, are applied to increase diversity and ensure the model generalizes well to unseen data.
            </p>
            <div class="image span_two">
                <img src="~/images/DataScience/ds-2.png" alt="Placeholder Image">
            </div>
            <p class="span_two" style="padding: 0 0 2rem 0; text-indent:2rem;">
                For the model, we will be utilizing APLASTIC-Q. It is based on two trained convolutional neural networks, the Plastic Litter Detector (PLD) which detects plastic in the image, and the Plastic Litter Quantifier (PLQ) which distincts and quantifies between plastic litter types. For training purposes, 80% of the dataset will be randomly sampled and will be used for training while the remaining 20% will be split between validation and testing. The integration of the two components involves a pipeline where PLD-CNN detects plastic regions, and PLQ-CNN classifies and quantifies the detected items.
            </p>
            
            <div class="image ds_img_left">
                <img src="~/images/DataScience/ds-3.jpg" alt="Placeholder Image">
            </div>
            <p style="padding: 0; text-indent:2rem; align-self: center;">
                To evaluate the model's accuracy, a confusion matrix will be used to compare the AI’s predictions against the ground truth across different litter classes.
                The matrix provides detailed insights into true positives (correct detections), false positives (misclassified items), false negatives (missed detections), and true negatives (correct rejections).. This analysis ensures that the model accurately detects and classifies plastic waste, helping refine its performance and reduce errors.
            </p>
            
        </div>
    </section>

    <section class="datasci_info datasci_model_2" id="datasci_model_2">
        <h1 class="fading-title">Model Deployment</h1>
        <div class="ds_content">
            <p class="span_two" style="padding: 0; text-indent:2rem;">
                A DJI Mavic Pro UAS will be deployed to capture high-resolution aerial images of aquatic environments, with its built-in GPS system embedding geolocation metadata directly into the EXIF headers of each photo. This geotagging provides precise latitude, longitude, and altitude information for every image, enabling accurate mapping of plastic waste across surveyed areas. These location-specific images will serve as input for the AI model, which will then be reflected on the hosted heatmap.
            </p><br />
            <p class="span_two" style="padding: 0; text-indent:2rem;">
                Once the model is trained and evaluated, the model is deployed to process aerial images stored in Amazon S3. These images, captured by drones and organized by location and date, are retrieved for batch processing. The outputs will determine the data to be used for the web-based platform heat map highlighting plastic concentration zones.
            </p>
            <div class="image span_two">
                <img src="~/images/DataScience/ds-4.png" alt="Placeholder Image">
            </div>
            <p class="span_two" style="padding: 0; text-indent:2rem;">
                To ensure long-term performance, the system undergoes continuous improvement. New images collected from UASs are periodically annotated using CVAT and incorporated into the training pipeline, allowing the model to adapt to changing conditions. This approach ensures the APLASTIC-Q system remains accurate, scalable, and effective in supporting the fight against aquatic plastic pollution.
            </p><br />
            <p class="span_two" style="padding: 0; text-indent:2rem;">
                Monitoring the performance of the UAS such as battery life, motor functionality, GPS signal strength, and sensor accuracy will be regularly checked before and after each flight. Data from the UAS, including altitude, speed, and temperature, will also be monitored during operations to identify potential issues early. Maintenance, firmware updates, and post-flight inspections will be conducted to minimize the risk of malfunctions and extend the lifespan of the UAS.
            </p>
        </div>
    </section>

    <section class="datasci_info datasci_stake" style="padding-bottom: 0" id="datasci_stake">
        <h1 class="fading-title">COMMUNICATION</h1>
        <div class="ds_content">
            <p style="padding: 0;  text-indent:2rem; align-self: center;">
                The processed data will be communicated through a user-friendly web platform, featuring interactive heat maps that highlight plastic pollution concentration zones in aquatic environments. This heat map will provide actionable insights into high-priority areas for cleanup or intervention. Users can explore location-based data, access visual summaries of litter distribution, and download detailed reports for further analysis. This platform facilitates transparent communication, empowering local governments and initiatives like The Ocean Cleanup  and Team Seas by MrBeast to make informed decisions and collaborate effectively in addressing plastic pollution.
            </p>
            <div class="image ds_img_right">
                <img src="~/images/DataScience/ds-6.png" alt="Placeholder Image">
            </div>
        </div> 
    </section>

    <section class="datasci_info datasci_model_2" id="datasci_budget">
        <h1 class="fading-title">BUDGET</h1>
        <div class="ds_content">
            <div class="image span_two">
                <img src="~/images/DataScience/ds-7.png" alt="Placeholder Image">
            </div>
        </div>
    </section>

    <section class="datasci_info datasci_tech" style="padding-bottom: 5%" id="datasci_tech">
        <h1 class="fading-title" style="margin-top: 32px">Technologies</h1>
        <div class="ds_content">
            <p class="span_two" style="padding: 0; align-self: center; text-align: center;">
                Amazon S3, DJI Mavic Pro, CVAT, C#, .NET, MongoDB, Python, Tensorflow, Amazon Sagemaker, Microsoft SQL Server, Matplotlib
            </p>
            <div class="span_two techimg">
                <a href="https://aws.amazon.com/s3/" target="_blank">
                    <img src="~/images/Icons/s3.png" />
                </a>
                <a href="https://www.dji.com/global" target="_blank">
                    <img src="~/images/Icons/dji.png" />
                </a>
                <a href="https://www.cvat.ai/media" target="_blank">
                    <img src="~/images/Icons/cvat.png" />
                </a>
                <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">
                    <img src="~/images/Icons/cs.svg" />
                </a>
                <a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet" target="_blank">
                    <img src="~/images/Icons/c.png" />
                </a>
                <a href="https://www.mongodb.com" target="_blank">
                    <img src="~/images/Icons/mongo.png" />
                </a>
                <a href="https://www.python.org" target="_blank">
                    <img src="~/images/Icons/python.png" />
                </a>
                <a href="https://www.tensorflow.org" target="_blank">
                    <img src="~/images/Icons/tensor.png" />
                </a>
                <a href="https://aws.amazon.com/sagemaker/" target="_blank">
                    <img src="~/images/Icons/sage.jpg" />
                </a>
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads" target="_blank">
                    <img src="~/images/Icons/sql.jpeg" />
                </a>
                <a href="https://matplotlib.org" target="_blank">
                    <img src="~/images/Icons/matplot.png" />
                </a>
            </div>
        </div>
    </section>
</div>
<!-- --------------------------------------------------------------------- -->