@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<img class="bg_image" src="~/images/backgrounds/bg-1.jpg" alt="Placeholder Image">

<div class="radial_gradient" style="display: flex; justify-content: center; align-items: center;height: 75vh">
    <div style="width: 30%">
        <h1 style="text-align: center; color: white;">@ViewData["Title"]</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input style="border-radius: 50px;" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="height: 60px; margin-bottom: 10px;">
                <button type="submit" class="w-100 btn btn-primary" style="border-radius: 50px; height: 100%; border: 0; font-weight: 400; font-size: 1rem;">Reset Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
