@{
    ViewData["Title"] = "Product";
}

<img class="bg_image" src="~/images/Backgrounds/bg-1.jpg" alt="Placeholder Image">

<link rel="stylesheet" href="~/css/product.css" asp-append-version="true"/>

<section class="header secondary">
    <div class="header_bg">
        <img src="~/images/Headers/header-3.jpg" alt="Placeholder Image">
    </div>
    <div class="info">
        <div class="description">
            <h2>PLASMA: Plastic Location and Analysis through Smart Machine vision Algorithms</h2>
            <p>
                This project focuses on using artificial intelligence to help solve the growing problem of plastic pollution in aquatic environments.
                This initiative aims to identify and map plastic waste in waterways by fusing computer vision, drone technology, and geolocation information.
                The goal is to provide accurate, real-time information that can guide cleanup efforts and protect vulnerable ecosystems such as mangroves and coastal areas.
            </p>
        </div>
    </div>
</section>


<!-- --------------------------------------------------------------------- -->


<nav class="navbar navbar-expand-lg navbar-dark py-3 mid_navbar">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar2">
                <li class="nav-item ">
                    <a class="nav-link custom-font" aria-current="page" href="#product_sdg">SDG</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link custom-font" aria-current="page" href="#product_problem">Problem</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#product_vision">Vision</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#product_objectives">Objectives</a>
                </li>
                <li class="nav-item ms-3 ">
                    <a class="nav-link custom-font" href="#product_implementation">Implementation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- --------------------------------------------------------------------- -->

<div class="radial_gradient">
    <section class="content product" id="product_sdg">
        <div class="wrapper row g-0 custom-background">
            <div class="col-md-6 description">
                <br />
                <h2>Sustainable Development Goal 6:<br />Clean Water and Sanitation</h2>
                <p style="font-weight: 400">
                    Target 6.3: Improve water quality by reducing pollution.
                </p>
                <p style="margin-left: 50px">
                    - Indicator 6.3.1: Proportion of domestic and industrial wastewater flows safely treated. <br /> <br />
                    - Indicator 6.3.2: Proportion of bodies of water with good ambient water quality.
                </p>
            </div>

            <div class="col-md-6 image-container">
                <img src="~/images/Product/prod-1.jpg" alt="Placeholder Image">
            </div>
        </div>
    </section>

    <section class="product_solution" id="product_problem">
        <h1 class="fading-title">PROBLEM & CONTEXT</h1>
        <div class="wrapper row g-0 custom-background">
            <div>
                <p>
                    Plastic pollution severely affects aquatic environments in the Philippines, particularly in vulnerable, unmonitored ecosystems like mangroves. Cleanup efforts are inefficient due to a lack of data and technology to locate plastic waste accurately.
                </p>
                <p style="margin-bottom: 0;">
                    The problem of plastic pollution is especially severe in Philippine coastal areas and unfrequented ecosystems such as mangroves, where waste often accumulates unnoticed. These environments are home to diverse marine life and serve as vital natural barriers against flooding.
                    However, local communities, fishermen, and environmental agencies are increasingly affected as plastic waste disrupts livelihoods and ecosystems.
                    The issue has become even more urgent in recent times due to a rise in extreme typhoons, which cause severe flooding made worse by plastic-clogged drainage systems.
                    Immediate action is needed to address this escalating environmental threat.
                </p>
            </div>
        </div>
    </section>

    <!-- --------------------------------------------------------------------- -->

    <section class="product_solution" style="margin-bottom: -50px" id="product_vision">
        <h1 class="fading-title">VISION</h1>
        <p>
            To become a leading initiative in preserving aquatic ecosystems by mapping plastic pollution and empowering data-driven, targeted cleanup efforts to ensure clean water resources for future generations.
        </p>
        <img src="~/images/Product/prod-2.jpg" alt="Placeholder Image">
    </section>

    <section class="product_solution" id="product_objectives">
        <h1 class="fading-title">OBJECTIVES</h1>
        <p>
            Our project aims to develop an AI-powered system that can automatically detect and quantify plastic waste in aquatic ecosystems. This automation will significantly improve the efficiency and accuracy of identifying pollution in bodies of water, reducing the need for manual inspection.
            <br /><br />
            To support targeted cleanup operations, the system will integrate GPS data to pinpoint the exact locations of detected plastics. This geospatial data will ensure that no critical zones, especially isolated ecosystems like mangroves are overlooked during cleanups.<br />
            <br />
            An interactive website will be created to visualize the collected data through heatmaps, highlighting plastic concentration zones in real time. The project empowers communities to collaborate effectively in the fight against aquatic plastic pollution by making the data accessible.
        </p>
    </section>
</div>

<!-- --------------------------------------------------------------------- -->



<section class="product_implementation" id="product_implementation">
    <div class="explore_info">
        <div class="el_desc">
            <h3 style="font-size: 1.8rem; font-weight: 500; color: #fff;">IMPLEMENTATION</h3>
        </div>

        <div class="wrapper">
            <ul class="el_list">
                <li class="el_item">
                    <div><img src="~/images/DataScience/ds-4.png" alt="img" /></div>
                    <div class="el_item_desc">
                        <h5>System Design</h5>
                        <p>Proposed solution and how it works.</p>
                        <button class="btn_lrn" onclick="location.href='@Url.Action("Index", "DataScience")#datasci_model_2'">LEARN MORE</button>
                    </div>
                </li>
                <li class="el_item">
                    <div><img src="~/images/DataScience/ds-2.png" alt="img" /></div>
                    <div class="el_item_desc">
                        <h5>ai utilization</h5>
                        <p>Integration of AI within the solution.</p>
                        <button class="btn_lrn" onclick="location.href='@Url.Action("Index", "DataScience")#datasci_model'">LEARN MORE</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>