@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/about.css">
<img class="bg_image" src="~/images/backgrounds/bg-1.jpg" alt="Placeholder Image">


<div class="outer-container radial_gradient">
    <h1 class="fading-title aboutus-title">About Us</h1>
   
    <div class="inner-container">
        <p class="section-subhead-text" style="text-indent:2rem;">
            Our AI-based solution leverages UASs, machine vision, and geospatial technologies to detect, 
            classify, and quantify macroplastics in aquatic environments. By utilizing datasets like MARIDA and integrating tools such as Amazon S3 and CVAT, 
            we ensure a pipeline for data collection, annotation, and processing. Utilizing APLASTIC-Q to build a model allows us to automate repetitive tasks like identifying and quantifying plastics. 
            Interactive heatmaps and visual reports will provide insights which enable clean up efforts to target pollution hotspots effectively.
        </p>
        <div class="responsive-container-block">
            <!-- Card 1 -->
            <div class="team-card-container">
                <div class="img-wrapper">
                    <img class="team-img" src="~/images/About/christian.jpg" alt="Kugisaki Nobara">
                </div>
                <p class="name">Christian Arthur Lorilla</p>
                <p class="position">The World</p>
                <div class="social-media-links">
                    <a href="http://www.facebook.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" alt="Facebook"></a>
                    <a href="http://www.instagram.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" alt="Instagram"></a>
                    <a href="http://www.github.com/CInkvader" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png" alt="GitHub" style="width: 24px; height: 24px;"></a>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="team-card-container">
                <div class="img-wrapper">
                    <img class="team-img" src="~/images/About/brid.jpg" alt="Gojo Satoru">
                </div>
                <p class="name">Brid Andrei Guiruela</p>
                <p class="position">Made in Heaven</p>
                <div class="social-media-links">
                    <a href="http://www.facebook.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" alt="Facebook"></a>
                    <a href="http://www.instagram.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" alt="Instagram"></a>
                    <a href="http://www.github.com/WideBirb" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png" alt="GitHub" style="width: 24px; height: 24px;"></a>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="team-card-container">
                <div class="img-wrapper">
                    <img class="team-img" src="~/images/About/kyle.jpg" alt="Utahime Iori">
                </div>
                <p class="name">Kyle Lirio</p>
                <p class="position">Silver Chariot</p>
                <div class="social-media-links">
                    <a href="http://www.facebook.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" alt="Facebook"></a>
                    <a href="http://www.instagram.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" alt="Instagram"></a>
                    <a href="http://www.github.com/YanKylee" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png" alt="GitHub" style="width: 24px; height: 24px;"></a>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="team-card-container">
                <div class="img-wrapper">
                    <img class="team-img" src="~/images/About/sho.jpg" alt="Toge Inumaki
                        ">
                </div>
                <p class="name">Sho Terashita</p>
                <p class="position">Unbreakable Diamond</p>
                <div class="social-media-links">
                    <a href="http://www.facebook.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg" alt="Facebook"></a>
                    <a href="http://www.instagram.com/" target="_blank"><img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg" alt="Instagram"></a>
                    <a href="http://www.github.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png" alt="GitHub" style="width: 24px; height: 24px;"></a>
                </div>
            </div>
        </div>
    </div>
</div>